@import "../../../../../themes/index.scss";

.experience-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  margin: 0 44px;

  @media (min-width: 920px) {
    flex-direction: row;
    &:nth-child(even) {
      flex-direction: row-reverse;
    }

    &:last-child {
      margin-bottom: 32px;
    }
  }

  div {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

    .title-container {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      gap: 12px;
      width: 100%;
      align-items: center;

      .title-experience {
        @include switchTheme("color", "color-orange");
        font-weight: 600;
        font-size: 20px;
      }
      .company-name {
        @include switchTheme("color", "color-secondary");
        @include switchTheme("background", "bg-primary");
        font-size: 12px;
        font-weight: 300;
        padding: 4px 8px;
        border-radius: 8px;
      }
    }

    .time-experience {
      @include switchTheme("color", "color-secondary");
      font-weight: 500;
      font-size: 16px;
    }

    .description-experience {
      @include switchTheme("color", "color-secondary");
      font-size: 12px;
    }
  }
}
