@import "../../../../themes/index.scss";

.about-me-container {
  flex: 2;

  h3 {
    @include switchTheme("color", "color-primary");
    font-size: 20px;
    margin-bottom: 12px;
  }

  p {
    @include switchTheme("color", "color-secondary");
    font-size: 14px;
  }
}
