.container-switch-theme-mode {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-switch{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  color: #f5f7fa;
}
