$bg-primary-dark: #19202e;
$bg-secondary-dark: #1e2738;
$color-primary-dark: #d7dde9;
$color-secondary-dark: #a5b3ce;

$bg-primary-light: #f5f7fa;
$bg-secondary-light: #ffffff;
$color-primary-light: #121822;
$color-secondary-light: #354765;

$color-orange: #fe655c;
