$light: (
  color-orange: #fe655c,
  bg-primary: #f5f7fa,
  bg-secondary: #ffffff,
  color-icons-nav: #f5f7fa,
  color-primary: #121822,
  color-secondary: #354765,
  shadow-secondary: (
    15px 15px 30px #d9d9d9,
    -15px -15px 30px #ffffff,
  ),
  bg-shadow-secondary: linear-gradient(145deg, #e6e6e6, #ffffff),
);
