@import "../../../../themes/index.scss";

.experience-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 28px;
  @include switchTheme("background", "bg-secondary");
  margin: 0px 30px;
  border-radius: 8px;

  @media (min-width: 1080px) {
    width: 980px;
    margin: 0 auto;
  }

  .title {
    @include switchTheme("color", "color-primary");
    margin-bottom: 32px;
  }

  .list-experience {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
  }
}
