@import "../../../../themes/index.scss";

.skills-container {
  flex: 1;

  @media (min-width: 980px) {
    padding-left: 16px;
    border-left: 1px solid;
    @include switchTheme("border-color", "color-secondary");
  }

  h3 {
    @include switchTheme("color", "color-primary");
    font-size: 20px;
    margin-bottom: 12px;
  }

  .list-item-content-normal {
    @include switchTheme("color", "color-secondary");
    font-size: 14px;
    padding: 0 5px;
  }

  .list-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;

    @media (min-width: 980px) {
      li {
        font-size: 14px;
        width: 50%;
        padding: 0px;
      }
    }
  }
}
