@import "../../../colors.scss";

.btn-nav-menu {
  background-color: transparent;
  border: none;
  width: 100%;
  cursor: pointer;
  color: $color-secondary-dark;

  .active-menu {
    color: $color-orange;
  }

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 0 10px;
    gap: 8px;

    span {
      font-size: 12px;
    }
  }
}
