@import "../../../../themes/index.scss";

.btn-nav-menu {
  text-decoration: none;
  width: 100%;
  cursor: pointer;
  @include switchTheme("color", "color-secondary");

  .active-menu {
    @include switchTheme("color", "color-orange");
  }

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 0 10px;
    gap: 8px;

    span {
      font-size: 12px;
    }
  }
}
